.sidebar {
    background: $white;
    font-family: $font-1;
    border-radius: $borderRadius;
    box-shadow: $shadow;
    position: relative;
    margin: 1rem;

    .id {
        display: none;
    }

    .navigation {
        padding: 2rem 1rem;

        ul {
            height: 100%;
            display: flex;
            justify-content: space-around;

            li {
                padding: 1rem 0 1rem 0.4rem;
                font-size: 2rem;
                position: relative;

                a {
                    color: $black;
                }

                .active {
                    color: #666;
                }

                span {
                    display: none;
                }
            }
        }
    }

    .socialNetwork {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .sidebar {
        .navigation {
            ul {
                li {
                    a:hover i {
                        transform: translate(3px, 9px);
                    }

                    i {
                        position: absolute;
                        font-size: 1.2rem;
                        transform: translateY(9px);
                    }

                    span {
                        display: inline;
                        margin-left: 2.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .sidebar {
        height: $height;
        max-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .id {
            display: inline;
            text-align: center;

            .idContent {
                padding: 2rem;
                width: 100%;

                img {
                    border-radius: 50%;
                    box-shadow: 0 0 0 4px $white, 0 0 0 7px $black;
                    max-width: 150px;
                }

                h3 {
                    font-size: 2rem;
                    text-transform: uppercase;
                    letter-spacing: 0.25rem;
                    margin-top: 1.5rem;
                    color: $black;
                }
            }
        }

        .navigation {
            grid-area: 2;

            ul {
                display: grid;
            }
        }

        .socialNetwork {
            display: inline;
            grid-area: 3;

            ul {
                display: flex;
                width: 264px;
                margin: 1rem auto;
                padding: 0.14px;
                justify-content: center;

                li {
                    font-size: 2.75rem;
                    margin-right: 2rem;

                    a:visited {
                        color: $black;
                    }

                    a:hover {
                        color: #666;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }
            }

            .signature {
                text-align: center;
                margin: 2rem;
            }
        }
    }
}