.homeContent {
    background: linear-gradient(115deg, transparent 45%, white 100%);
    height: $height;
    max-width: 100%;
    margin: 1rem;
    border-radius: $borderRadius;
    box-shadow: $shadow;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: url('../../media/Photo.jpg') no-repeat center/cover;
        z-index: -1;
        filter: brightness(30%);
    }

    .content {
        position: absolute;
        bottom: 15%;
        left: 15%;
        font-family: $font-2;

        h1 {
            font-size: 4.5rem;
            color: $white;
            text-transform: uppercase;
            text-shadow: 5px 5px 5px $black;
        }

        h2 {
            font-size: 3rem;
            color: $white;
        }

        .pdf {
            margin: 3rem 0 0;

            a {
                font-size: 1.5rem;
                background: $white;
                border-radius: $borderRadius;
                padding: 1rem 2rem;
                transition: all 0.25s ease-in-out;

                &:hover {
                    background: $black;
                    color: $white;
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .homeContent {
        width: 100%;
    }
}